<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Cognisant Cow</title>
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link href="/feed.atom" rel="alternate" title="Recent Blog Posts" type="application/atom+xml">
  </head>
  <body>
    <div class=container>
      <div class=header>
        <a href="/about/"><span class="b">Cognisant</span> <span class="o">Cow</span></a>
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/">blog</a>
          <li><a href="/archive/">archive</a>
          <li><a href="/tags/">tags</a>
          <li><a href="/projects/">projects</a>
          <li><a href="/about/">about</a>
        </ul>
      </div>
      <div class=body>
      {{ content }}
      </div>
      <div class=footer>
        <p>&copy; Copyright 2011 by Scott Frazer.
        <p>
          Content licensed under the Creative Commons
          attribution-noncommercial-sharealike License.
        <p>
          Contact me via <a href="mailto:scott.d.frazer@gmail.com">mail</a>,
          <a href="http://twitter.com/scottious">twitter</a>,
          <a href="http://github.com/scottfrazer">github</a> or
        (<a href="/feed.atom" rel="alternate" title="Recent Blog Posts">feed</a>)
      </div>
    </div>
  </body>
</html>
