<!doctype html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Home | Scott Frazer</title> 
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&amp;subset=latin" rel="stylesheet" type="text/css" />
    <link href="feed.atom" rel="alternate" title="Recent Blog Posts" type="application/atom+xml" /> 
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.qtip.css" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrap">
      <div id="center-column">
      	<div id="nav-bar">
      		<a href="http://scottfrazer.net/">&laquo; Home</a>
      	</div>

      	{{ content }}

        <div class="laterstuff">
            <fb:like href="" send="false" layout="box_count" show_faces="false" action="like" font=""></fb:like>
            <g:plusone size="tall"></g:plusone>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'scottfrazer';
                /*var disqus_identifier = 'scottfrazer';
                var disqus_url = 'http://scottfrazer.net/blog-post-test/';*/
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
			</div>
    </div>

    <script src="http://connect.facebook.net/en_US/all.js#appId=234959273215529&amp;xfbml=1"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="/js/libs/jquery-1.6.1.min.js"></script>
    <script src="/js/libs/jquery-ui-1.8.13.min.js"></script>
    <script src="https://raw.github.com/malsup/corner/master/jquery.corner.js"></script>
    <script src="/js/libs/jquery.qtip.js"></script>
    <script>
      $(document).ready(function() {
        $('#center-column').corner();
      });
    </script>
    <script>
      /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));*/
    </script>
  </body>
</html>
